html {
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat";
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    -webkit-appearance: none;
}

:root {
    --main-bg-color: #7550AB;
    --header-height: 80px;
    --year-picker-height: 150px;
    --year-picker-width: 400px;
}

/* Creds */
.AuthPage {
    padding-top: 40px;
    height: 100vh;
    background-color: var(--main-bg-color);
}

.LoginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-bottom: 16px;
}

.AuthWrapper {
    height: 250px;
    width: 400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
}

.AuthHeaderText {
    color: #7550AB;
    font-size: 22pt;
    margin-top: 8px;
    margin-bottom: 28px;
    text-align: center;
}

.AuthForm {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.AuthTextField {
    width: 90%;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
}

.SubmitButton {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: var(--main-bg-color);
    cursor: pointer;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
}

.NavText {
    text-align: center;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
}

.ErrorText {
    color: red;
    margin: 3px;
}

/* MainPage */
.MainPage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.PageHeader {
    width: 100%;
    height: var(--header-height);
    background-color: var(--main-bg-color);
}

.HeaderLogo {
    height: 100%;
}

.HeaderName {
    height: 100%;
}

.PageBody {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - var(--header-height));
}

.Board {
    display: grid;
    justify-content: stretch;
    align-content: flex-start;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 0px;
    padding: 10px;
    width: 80%;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ColumnTitle {
    padding-left: 5px;
    font-size: 22px;
}

.Column {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 500px;
    border: 1px solid black;
}

.Card {
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    font-size: 22px;
    border: 1px solid black;
}

.Card:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 20%;
    min-width: 250px;
    border-left: 1px solid black;
}

.SearchBar {
    width: 100%;
    font-size: 22px;
    margin: 0px;
    padding: 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: white;
}

.SearchBody {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* YearPicker */

.YearPicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    height: var(--year-picker-height);
    width: var(--year-picker-width);
    margin-top: calc(var(--year-picker-height) / 2 * -1);
    margin-left: calc(var(--year-picker-width) / 2 * -1);
    border-radius: 10px;
    border: 1px solid black;
}

.YearPickerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
    background-color: var(--main-bg-color);
    color: white;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.YearDropdownWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.YearSubmitButton {
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: white;
    height: 25%;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--main-bg-color);
}

/*
 * Dropdown styling
 * https://github.com/fraserxu/react-dropdown/blob/master/style.css
 */

.Dropdown-root {
    position: relative;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    outline: none;
    padding: 8px 52px 8px 10px;
    margin: 2px;
    width: 125px;
    transition: all 200ms ease;
}

.Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0
}

.is-open .Dropdown-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

.Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -3px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    margin-left: 2px;
    top: 100%;
    width: 125px;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
}

.Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
    background-color: #f2f9fc;
    color: #333;
}

.Dropdown-option.is-selected {
    background-color: #f2f9fc;
    color: #333;
}

.Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}