html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* MainPage */
.PageBody {
    display: flex;
    flex-direction: row;
}

.BoardWrapper {
    border: 1px solid black;
}

.Board {
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    border: 1px solid black;
}

.Column {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 500px;
    width: 250px;
    margin: 10px;
    border: 1px solid black;
}

.Card {
    margin: 10px;
    padding: 5px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    border: 1px solid black;
}

.Card:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.YearPicker {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    margin-left: -250px;
    margin-top: -100px;
    border: 1px solid black;
}

.YearDropdownWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
}

/* Creds */
.AuthPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #7550ab;
}

.LoginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
}

.CreateWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
}

.AuthForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 60%;
}

.AuthHeaderText {
    color: #7550ab;
    font-size: 18pt;
    margin-bottom: 25px;
}

.AuthTextField {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
}

.SubmitButton {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #7550ab;
    cursor: pointer;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
}

.NavText {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
}

.ErrorText {
    color: red;
}